body { 
  background-color: black;
  color: white;
  font-family: courier;
  text-align: center;
}
ul {
  text-align: center;
  list-style: none;
}
.button {
    border: none;
    color: white;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: black;
    color: white;
    border: 2px solid #ffffff;
    width: 25%;
  }
  
  .button1:hover {
    background-color: white;
    color: black;
    width: 30%;
  }
  
  .button2 {
    background-color: black;
    color: white;
    border: 2px solid #ffffff;
  }
  
  .button2:hover {
    background-color: white;
    color: black;
  }
