body { 
  background-color: black;
  color: white;
  font-family: verdana;
  text-align: center;
}

ul {
  text-align: center;
  list-style: none;
}

h1 {
  margin-top: 100px;
}

.button {
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 0 auto;
    transition: background-color 0.4s, color 0.4s, width 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: black;
    color: white;
    border: 2px solid #ffffff;
    width: 20%;
    min-width: 200px;
    display: inline-block;
}

.button1:hover {
    background-color: white;
    color: black;
    width: 22%;
}

.button2 {
    background-color: black;
    color: white;
    border: 2px solid #ffffff;
    width: 10%;
    height: 10%;
    min-width: 100px;
    display: inline-block;
}

.button2:hover {
    background-color: white;
    color: black;
    width: 12%;
}

a:link {
  color: #00bbff;
}

a:visited {
  color: #6252bf;
}

a:hover {
  color: #00ccff;
  text-decoration: underline;
}

a:active {
  color: #00ffff;
}
